.connection-status-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 0;
  padding: var(--spacing-lg);
  padding-bottom: var(--spacing-2xl);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.25) 20%,
    rgba(255, 255, 255, 0.5) 40%,
    rgba(255, 255, 255, 0.7) 60%,
    rgba(255, 255, 255, 0.85) 80%,
    rgba(255, 255, 255, 0.96) 100%
  );
}

.connection-status {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  background-color: var(--c-white);
  border: 1px solid var(--c-gray-300);
  padding: var(--spacing-sm);
  z-index: 90;
  border-radius: var(--border-radius);
  margin: auto;
  .btn {
    max-width: 120px;
  }
}

.connection-status__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--spacing-md);
}

.connection-status-message {
  font-size: var(--body-02);
  line-height: var(--ui-line-height);
  font-weight: 600;
}

.connection-status-message ~ .btn {
  margin-left: var(--spacing-xl);
}
