.device-info {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.device-info__col {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.device-info__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.device-info__item ~ .device-info__item {
  margin-top: var(--spacing-sm);
}

.device-info__label {
  color: var(--c-gray-700);
  font-size: var(--caption);
  font-weight: 400;
  text-transform: uppercase;
}

.device-info__value {
  text-transform: uppercase;
}
