/* Form Control Component Styles */
.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-control ~ .form-control {
  margin-top: var(--spacing-lg);
}

.form-control label {
  font-size: var(--body-02);
  font-weight: 500;
  margin-bottom: var(--spacing-xs);
}

.form-control__input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--spacing-sm);
}

.form-control__input-wrapper .btn {
  width: auto;
  min-width: 96px;
  padding: var(--spacing-xs) var(--spacing-lg);
}

.form-control__input-wrapper input,
.form-control__input-wrapper select {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--c-gray-400);
  min-height: 32px;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--border-radius);
  font-size: var(--body-02);
}

.form-control__input-wrapper input::placeholder,
.form-control__input-wrapper select::placeholder {
  color: var(--c-gray-500);
}

.form-control__input-wrapper input[type='file'] {
  padding: var(--spacing-sm);
}

.form-control__input-wrapper input::file-selector-button {
  background-color: transparent;
  border: 1px solid var(--c-gray-400);
  background-color: var(--c-gray-200);
  border-radius: 0.25rem;
  min-height: 24px;
  font-size: var(--body-02);
  padding: var(--spacing-xs) var(--spacing-md);
  margin-right: var(--spacing-md);
}

.form-control__input-wrapper input.error,
.form-control__input-wrapper select.error {
  outline: 3px auto var(--c-danger);
  outline-offset: 3px;
}

.select-icon {
  position: absolute;
  width: 32px;
  height: 18px;
  background-color: transparent;
  border-radius: 2px;
  right: 6px;
  fill: var(--c-gray-600);
  pointer-events: none;
}

.password-toggle-btn {
  position: absolute;
  display: flex;
  width: 44px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 2px;
  right: 6px;
}

.password-icon {
  width: 24px;
  height: 24px;
  fill: var(--c-gray-700);
}
