/* Support Card Component Styles */
.support-card {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: var(--spacing-2xl);
  background-color: var(--c-gray-300);
  border-radius: var(--border-radius);
  border: 1px solid var(--c-gray-400);
}

.support-card__header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: var(--spacing-sm);
  h2 {
    font-size: var(--heading-06);
    font-weight: 600;
  }
}

.support-card__icon {
  width: 24px;
  height: 24px;
  fill: var(--c-gray-700);
  margin-right: var(--spacing-xs);
}

.support-card__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--c-white);
  border-radius: inherit;
  padding: var(--spacing-xl);
}

.support-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    font-size: var(--heading-04);
    font-weight: 600;
    margin-bottom: var(--spacing-sm);
    line-height: var(--heading-line-height);
  }
  p {
    font-size: var(--body-02);
    line-height: var(--body-line-height);
  }
}

.support-link {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--spacing-md) 0;
  border: 1px solid transparent;
  min-height: 32px;
  font-size: var(--body-02);
  justify-content: space-between;
}

.support-link ~ .support-link {
  border-top: 1px solid var(--c-gray-200);
}

.support-link__item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--spacing-xs);
}

.support-link__item:hover {
  text-decoration: underline;
}

.support-link__icon {
  width: 24px;
  height: 24px;
  fill: var(--c-gray-600);
}
