.support-link {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: var(--spacing-md) 0;
  border: 1px solid transparent;
  min-height: 32px;
  font-size: var(--body-02);
  justify-content: space-between;
}

.support-link ~ .support-link {
  border-top: 1px solid var(--c-gray-200);
}

.support-link__item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--spacing-xs);
}

.support-link__item:hover {
  text-decoration: underline;
}

.support-link__icon {
  width: 24px;
  height: 24px;
  fill: var(--c-gray-600);
}
