.wifi-connection-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wifi-connection-form__actions {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: var(--spacing-md);

  .btn {
    width: auto;
    padding: var(--spacing-xs) var(--spacing-md);
  }

  .btn ~ .btn {
    margin-left: var(--spacing-sm);
  }
}
