/* App.css - Global styles */
.byte90-logo {
  position: relative;
  width: auto;
  height: 32px;
  fill: var(--c-gray-600);
  flex-shrink: 0;
  margin-bottom: var(--spacing-2xl);
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: var(--spacing-2xl) var(--spacing-lg);
}

.connected-components {
  position: relative;
  width: 100%;
  padding-bottom: 8rem;
}

.progress-bar {
  position: relative;
  width: 100%;

  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 12px;
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-top: var(--spacing-sm);
  }

  progress[value]::-webkit-progress-bar {
    background-color: var(--c-success-bg);
    border-radius: var(--border-radius);
  }

  progress[value]::-webkit-progress-value {
    background-color: var(--c-success);
    border-radius: var(--border-radius);
  }
}

.progress-bar__message {
  font-size: var(--body-02);
  line-height: var(--ui-line-height);
  color: var(--c-gray-700);
  margin-top: var(--spacing-xs);
}
